<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenwich.madpropertypal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".view.AdvancedSearchActivity"></activity>
        <activity android:name=".view.PropertyReports" />
        <activity android:name=".view.AddReportActivity" />
        <activity android:name=".view.EditPropertyDetails"
            android:noHistory="true"/>
        <activity
            android:name=".view.PropertyDetails"
            android:parentActivityName=".view.MyPropertiesActivity" />
        <activity
            android:name=".view.MyPropertiesActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.popup.ConfirmAddPropertyDetailsPopUp"
            android:theme="@style/PopUpTheme"
            android:noHistory="true"/>
        <activity
            android:name=".view.popup.ConfirmEditPropertyDetailsPopUp"
            android:theme="@style/PopUpTheme"
            android:noHistory="true"/>
        <activity
            android:name=".view.AddPropertyActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>