<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenwich.madpropertypal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".view.EditPropertyDetails" />
        <activity android:name=".view.PropertyDetails"
           />
        <activity android:name=".view.MyPropertiesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ConfirmAddPropertyDetailsPopUp"
            android:theme="@style/PopUpTheme" />
        <activity android:name=".view.ConfirmEditPropertyDetailsPopUp"
            android:theme="@style/PopUpTheme"
            ></activity>


        <activity
            android:name=".view.AddPropertyActivity"
            android:parentActivityName=".view.MainActivity">

        </activity>
        <activity android:name=".view.MainActivity">

        </activity>
    </application>

</manifest>